attrs==19.1.0
Automat==0.7.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
constantly==15.1.0
decorator==4.4.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
joblib==0.13.2
lxml==4.3.4
networkx==2.2
nltk==3.4.4
numpy==1.22.0
progressbar==2.5
psutil==5.6.3
PyDispatcher==2.0.5
PyHamcrest==1.9.0
requests==2.22.0
sexpdata==0.0.3
singledispatch==3.4.0.3
six==1.12.0
ujson==1.35
untangle==1.1.1
urllib3==1.25.3
wincertstore==0.2
zope.interface==4.6.0
